{% extends 'base.html' %}
{% block content %}
<style>
    .service-container {
        position: relative;
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;
        cursor: pointer;
    }

    .service-container:hover {
        border-color: #999;
    }

    .service-container input[type="radio"] {
        display: none;
    }

    /* Применяем стили к выбранному контейнеру */
    .service-container input[type="radio"]:checked + span {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        outline: 2px solid #007bff;
    }
</style>
<div class="container-full-height">
    <h1>Выберите услугу специалиста {{ selected_master.user.first_name }}</h1>
    <form method="post">
        {% csrf_token %}
        {% for service in service_form.service.field.queryset %}
            <label class="service-container">
                <input type="radio" name="service" value="{{ service.pk }}">
                {{ service }} <span></span>
            </label>
        {% endfor %}
        <input type="hidden" id="selected_service" name="service">
        <input type="submit" value="Next">
    </form>
</div>
<script>
    const serviceContainers = document.querySelectorAll('.service-container');

    serviceContainers.forEach(container => {
        container.addEventListener('click', () => {
            const input = container.querySelector('input[type="radio"]');
            document.getElementById("selected_service").value = input.value;

            // Remove checked class from all containers
            serviceContainers.forEach(c => {
                c.classList.remove('checked');
            });

            // Add checked class to the clicked container
            container.classList.add('checked');
        });
    });
</script>
{% endblock %}
