@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Pacifico&display=swap');

.shell-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh; /* Это обеспечит центрирование хедера по вертикали на весь экран */
    margin: 0;
    padding: 0;
}

header {
    background-image: url("../img/header-bg.jpg");
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
}

.animate__animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

/* Начальная прозрачность элементов до анимации */
.animate__fadeIn {
    opacity: 0;
}

/* Анимация появления снизу */
.animate__fadeInUp {
    animation-name: fadeInUp;
}

/* Анимация появления сверху */
.animate__fadeInDown {
    animation-name: fadeInDown;
}

/* Анимация для fadeInUp */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

/* Анимация для fadeInDown */
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

/* Обертка для мастеров - флекс-контейнер */
.masters-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
.container-shell {
    background-image: url("../img/header-bg.jpg");
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
}


/* ================================================================= */

.login-container {
    background-image: linear-gradient(to bottom right, #6c00e0, #ad03b8);
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
}