{% load static %}
{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
        <div class="container px-5">
            <a class="navbar-brand fw-bold" href="{% url 'index' %}">
                <img src="{% static 'assets/img/logo.png' %}" alt="Start Bootstrap Логотип" style="max-width: 150px; max-height: 150px;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="border: none; text-decoration: none; color: black;">
                <img src="./assets/img/menu.png" alt="Start Bootstrap Логотип" style="max-width: 30px; max-height: 30px;">
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                    <li class="nav-item"><a class="nav-link me-lg-3" href="#features">Услуги</a></li>
                    <li class="nav-item"><a class="nav-link me-lg-3" href="#download">Наши мастера</a></li>
                    <li class="nav-item"><a class="nav-link me-lg-3" href="#download">Адрес</a></li>
                    <li class="nav-item"><a class="nav-link me-lg-3" href="#download">Сотрудникам</a></li>
                </ul>
                <a class="custom-btn" href="{% url 'appointments:select_master' %}">Записаться</a>
            </div>
        </div>
    </nav>
{% endblock %}