{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="shell-container">
    <header class="bg-light text-center py-5 animate__animated animate__fadeIn">
        <!-- The existing HTML content -->
        <div class="container">
            <!-- Small Text -->
            <p class="h6 animate__animated animate__fadeInDown">Nails health</p>

            <!-- Large Text -->
            <h1 class="display-4 animate__animated animate__fadeInUp">Центр эстетики и подологии</h1>

            <!-- Button -->
            <a href="{% url 'appointments:select_master' %}" class="btn btn-primary btn-lg animate__animated animate__fadeIn">Записаться</a>
        </div>
    </header>
</div>

<div id="service" class="container mt-5">
    <div class="row">
        <div class="col-md-4 animate-img h6 animate__animated animate__fadeInLeft d-flex flex-column align-items-center">
            <img src="{% static "img/manicure.png" %}" alt="Картинка 1" class="img-fluid mb-2" style="max-height: 200px;">
            <h2 class="mb-0">Маникюр</h2>
            <p class="mt-3 text-center font-weight-light">Дарим вашим рукам заслуженное внимание и заботу! Наша команда профессиональных мастеров сделает ваш маникюр настоящим произведением искусства.</p>
        </div>
        <div class="col-md-4 animate-img h6 animate__animated animate__fadeInUp d-flex flex-column align-items-center">
            <img src="{% static "img/pedicure.png" %}" alt="Картинка 2" class="img-fluid mb-2" style="max-height: 200px;">
            <h2 class="mb-0">Педикюр</h2>
            <p class="mt-3 text-center font-weight-light">Ваши ножки тоже заслуживают нежности и заботы! Наш опытный персонал предоставит вам первоклассный педикюр.</p>
        </div>
        <div class="col-md-4 animate-img h6 animate__animated animate__fadeInRight d-flex flex-column align-items-center">
            <img src="{% static "img/podologia.png" %}" alt="Картинка 3" class="img-fluid mb-2" style="max-height: 200px;">
            <h2 class="mb-0">Подология</h2>
            <p class="mt-3 text-center font-weight-light">Заботимся о здоровье ваших стоп с особым вниманием и профессионализмом! Наш центр подологии специализируется на диагностике и лечении различных проблем стопы.</p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="bg-dark text-white text-center p-5">
            <h1>Каждый миг – красота, каждый день – удовольствие.</h1>
            <button class="btn btn-primary">Кнопка</button>
        </div>
    </div>
</div>

{% endblock %}